h1 {
  color: rgb(255, 255, 255);
  background-color: black;
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  transition-duration: 500ms;
}

h1:hover {
  background-color: gray;
}

.big_button {
  color: rgb(255, 255, 255);
  background-color: gray;
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  transition-duration: 500ms;
}

#edwin {
  color: pink;
  background-color: red;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  background-color: greenyellow;
  display: flex;
}

.item {
  margin: 0 2rem 0 2rem;
  background-color: hotpink;
  flex-grow: 1;
  text-align: center;
  padding: 2rem 0
}